<h1>Hi! Please confirm your email!</h1>

 <p>Bonjour {{ user.username }},</p>
    
    <p>Merci de vous être inscrit. Veuillez cliquer sur le lien ci-dessous pour vérifier votre adresse e-mail :</p>
    <a href="{{ url('app_verify_email', {'token': token}) }}">Vérifier mon adresse e-mail</a>