<h1>Hi! Please confirm your email!</h1>

 <p>Bonjour {{ user.username }},</p>
    
    <p>Pour votre Demande de réinitialisation de mot de passe. Veuillez cliquer sur le lien ci-dessous.</p>
    <p><a href="{{ url|raw}}">{{ url|raw}}</a></p>
    <p>Merci!</p>
    <p>L'équipe de l'application</p>